@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: ui-sans-serif, system-ui, sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--radius: 0.5rem;
	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
	--tracking-normal: var(--tracking-normal);
	--shadow-2xl: var(--shadow-2xl);
	--shadow-xl: var(--shadow-xl);
	--shadow-lg: var(--shadow-lg);
	--shadow-md: var(--shadow-md);
	--shadow: var(--shadow);
	--shadow-sm: var(--shadow-sm);
	--shadow-xs: var(--shadow-xs);
	--shadow-2xs: var(--shadow-2xs);
	--spacing: var(--spacing);
	--letter-spacing: var(--letter-spacing);
	--shadow-offset-y: var(--shadow-offset-y);
	--shadow-offset-x: var(--shadow-offset-x);
	--shadow-spread: var(--shadow-spread);
	--shadow-blur: var(--shadow-blur);
	--shadow-opacity: var(--shadow-opacity);
	--color-shadow-color: var(--shadow-color);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(0.9898 0.0042 56.3765);
    --foreground: oklch(0.1750 0.0374 60.9621);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1750 0.0374 60.9621);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1750 0.0374 60.9621);
    --primary: oklch(0.3984 0.0661 63.8434);
    --primary-foreground: oklch(0.9109 0.0305 35.4938);
    --secondary: oklch(0.8507 0.0375 45.6272);
    --secondary-foreground: oklch(0.2972 0.0458 64.4505);
    --muted: oklch(0.9248 0.0158 42.3777);
    --muted-foreground: oklch(0.4739 0.0770 64.0313);
    --accent: oklch(0.8507 0.0375 45.6272);
    --accent-foreground: oklch(0.2972 0.0458 64.4505);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9356 0.0309 17.7172);
    --border: oklch(0.8079 0.0363 39.9600);
    --input: oklch(0.8079 0.0363 39.9600);
    --ring: oklch(0.3984 0.0661 63.8434);
    --chart-1: oklch(0.3984 0.0661 63.8434);
    --chart-2: oklch(0.5137 0.0908 64.2716);
    --chart-3: oklch(0.6231 0.1131 64.0798);
    --chart-4: oklch(0.7277 0.1349 64.1900);
    --chart-5: oklch(0.8090 0.1316 67.1325);
    --radius: 0.5rem;
    --sidebar: oklch(0.3984 0.0661 63.8434);
    --sidebar-foreground: oklch(0.9898 0.0042 56.3765);
    --sidebar-primary: oklch(0.9898 0.0042 56.3765);
    --sidebar-primary-foreground: oklch(0.3984 0.0661 63.8434);
    --sidebar-accent: oklch(0.8079 0.0363 39.9600);
    --sidebar-accent-foreground: oklch(0.2972 0.0458 64.4505);
    --sidebar-border: oklch(0.5137 0.0908 64.2716);
    --sidebar-ring: oklch(0.9898 0.0042 56.3765);
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.1;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0.1rem;
    --shadow-offset-x: 0rem;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.05);
    --shadow-xs: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.05);
    --shadow-sm: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -0.9px hsl(0 0% 0% / 0.10);
    --shadow: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.10), 0rem 1px 2px -0.9px hsl(0 0% 0% / 0.10);
    --shadow-md: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.10), 0rem 2px 4px -0.9px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.10), 0rem 4px 6px -0.9px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.10), 0rem 8px 10px -0.9px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.25);
    --tracking-normal: normal;
}

.dark {
    --background: oklch(0.1261 0.0272 70.7537);
    --foreground: oklch(0.9109 0.0305 35.4938);
    --card: oklch(0 0 0);
    --card-foreground: oklch(0.9109 0.0305 35.4938);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(0.9109 0.0305 35.4938);
    --primary: oklch(0.3984 0.0661 63.8434);
    --primary-foreground: oklch(0.9109 0.0305 35.4938);
    --secondary: oklch(0.2972 0.0458 64.4505);
    --secondary-foreground: oklch(0.9109 0.0305 35.4938);
    --muted: oklch(0.2348 0.0350 61.0165);
    --muted-foreground: oklch(0.6172 0.0647 66.9668);
    --accent: oklch(0.2972 0.0458 64.4505);
    --accent-foreground: oklch(0.9109 0.0305 35.4938);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9356 0.0309 17.7172);
    --border: oklch(0.2972 0.0458 64.4505);
    --input: oklch(0.2972 0.0458 64.4505);
    --ring: oklch(0.3984 0.0661 63.8434);
    --chart-1: oklch(0.3984 0.0661 63.8434);
    --chart-2: oklch(0.5137 0.0908 64.2716);
    --chart-3: oklch(0.6231 0.1131 64.0798);
    --chart-4: oklch(0.7277 0.1349 64.1900);
    --chart-5: oklch(0.8090 0.1316 67.1325);
    --radius: 0.5rem;
    --sidebar: oklch(0.1261 0.0272 70.7537);
    --sidebar-foreground: oklch(0.9109 0.0305 35.4938);
    --sidebar-primary: oklch(0.9109 0.0305 35.4938);
    --sidebar-primary-foreground: oklch(0.1261 0.0272 70.7537);
    --sidebar-accent: oklch(0.2972 0.0458 64.4505);
    --sidebar-accent-foreground: oklch(0.9109 0.0305 35.4938);
    --sidebar-border: oklch(0.2348 0.0350 61.0165);
    --sidebar-ring: oklch(0.9109 0.0305 35.4938);
    --font-sans: ui-sans-serif, system-ui, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: #000000;
    --shadow-opacity: 0.3;
    --shadow-blur: 0.5rem;
    --shadow-spread: 0.1rem;
    --shadow-offset-x: 0rem;
    --shadow-offset-y: 0.125rem;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.15);
    --shadow-xs: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.15);
    --shadow-sm: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -0.9px hsl(0 0% 0% / 0.30);
    --shadow: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.30), 0rem 1px 2px -0.9px hsl(0 0% 0% / 0.30);
    --shadow-md: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.30), 0rem 2px 4px -0.9px hsl(0 0% 0% / 0.30);
    --shadow-lg: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.30), 0rem 4px 6px -0.9px hsl(0 0% 0% / 0.30);
    --shadow-xl: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.30), 0rem 8px 10px -0.9px hsl(0 0% 0% / 0.30);
    --shadow-2xl: 0rem 0.125rem 0.5rem 0.1rem hsl(0 0% 0% / 0.75);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
    }
}